.map-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    height: 800px;
}
@media screen and (max-height: 700px) {
    .map-container {
        min-height: fit-content;
        /* display: none; */
    }
}
